!thesis.pdf

## Latex files
*.synctex.gz
*~
*.aux
*.out
*.lof
*.log
*.idx
*.toc
*.blg
*.lot
*.bbl


## Windows Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
.apdisk
